body {
    background-color: #FCFCFC;
}

.container-custom {
    padding: 0 10% !important;
}

.login {
    width: 350px;
    height: 300px;
    padding: 10px 30px;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -175px;
    position: absolute;

    input {
        height: 50px;
        direction: none;
    }
}

table {
    thead {
        th{
            text-align: center;
        }
    }
    tr {
        td {
            text-align: center;
        }
    }
}
