body {
    background-color: #FCFCFC;
}

.layout {
    width: 80%;
    padding: 20px;
}

.container-custom {
    padding: 0 10% !important;
}

table {
    thead {
        th{
            text-align: center;
        }
    }
    tr {
        td {
            text-align: center;
        }
    }
}
